
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>
<d1>
    <dt>Name</dt>
    <dd>Nata </dd>
    <dt>Email</dt>
    <dd>Nataliia.karlsson@yahoo.com</dd>
    <dt>Address</dt>
    <dd>Karlskrona</dd>
</d1>
