body {
    background-color: aqua;
}

 .container {
    background-color: hotpink;
}
 header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: dimgray;
    /*background-image: linear-gradient(-120deg, #000000 0%, #44444C 100%);*/
    padding-left: 10%;
    padding-right: 10%;
    height: 100px;
    width: auto;
    font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #EFDCF9;
}
