body {
    
    background-color: aqua;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: pink;
}

.container2 {
    display: flex;
    flex-direction: column;
    background-color: plum;
        
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: palevioletred;
    padding-right: 10%;
    height: 130px;
    width: auto;
    font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: rebeccapurple;
    
    
}

footer {
    margin-top: auto;
}
