
@{
    ViewData["Title"] = "Index";
}

<h1>Doctor</h1>
<div class="container">
    <div class="wrapper">
      <form asp-action="FeverCheck" asp-controller="Doctor" method="post">
        <input type="number" placeholder="Check your temp" name="temp" value="" min="0" max="100" step="1" />
              <button type="submit">Check your temp</button>
            <p>
                @if (ViewBag.Msg != null)
                {
                    @ViewBag.Msg
                }
            </p>
      </form>
    </div>
</div>
